@{
    ViewData["Title"] = "Кевин Дюрант";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
    <p>Научете повече за <a href="https://www.nba.com/player/201142/kevin-durant">Кевин Дюрант в официалния сайт на NBA</a>.</p>
</div>

<h1>Кевин Дюрант</h1>

<section id="bio">
    <h2>Кратка Биография</h2>
    <p>Кевин Дюрант е американски професионален баскетболист, който играе в NBA. Роден е на 29 септември 1988 г. Играе на позиция крило и е считан за един от най-добрите стрелци в историята на лигата. Дюрант е двукратен шампион на NBA и олимпийски златен медалист.</p>
</section>

<section id="stats">
    <h2>Статистики</h2>
    <ul>
        <li>NBA титли: 2</li>
        <li>MVP на лигата: 1 (2014)</li>
        <li>Средно точки на мач (кариера): ~27</li>
        <li>Олимпийски златни медали: 3</li>
    </ul>
</section>

<section id="gallery">
    <h2>Галерия</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Kevin_Durant_FIBA_2020.jpg/800px-Kevin_Durant_FIBA_2020.jpg" alt="Kevin Durant 2020" width="300" />
    <img src="https://media.cnn.com/api/v1/images/stellar/prod/230506162200-01-kevin-durant-phoenix-suns.jpg?c=original" alt="Kevin Durant with Phoenix Suns" width="300" />
</section>

<img src="https://cdn.nba.com/headshots/nba/latest/1040x760/201142.png" alt="Kevin Durant Official NBA" width="100%" />
